*{

font-family: Arial, Helvetica, sans-serif
}
body{
padding: 60px;
background-color: rgb(236, 236, 236);
}
input {
width: 100%;
font-size:1.3rem ;
color: grey;
align-self: center;
}
.card-grid {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow:hidden;
}
.card p {
  padding: 5px;
  text-align: center;

}
.card img{
  max-height: 170px;
}
